body {
  background-image: url("mtb.jpg");
  background-size: auto;
  margin: 5% 0 0 0;
}

h1 {
  margin-left: 40px;
  font-family: "Frijole";
  text-align: center;
}

.theader{
  border: none;
}

button {
  border-color: black;
}
