body {
  background-image: url("mtb.jpg");
  background-size: cover;
  margin: 5% 0 0 0;
}

h1 {
  margin-left: 40px;
}

.theader{
  border: none;
}

button {
  border-color: black;
}

.tableTop {
  margin-top: -80px;
}
